* {
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
}

nav .right-text {
  float: right;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 30px;
}

nav li a {
  color: #E1E8ED;
  text-decoration: none;
}

.article {
  background: #E1E8ED;
  line-height: 1.7;
  max-width: 1200px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
}

.star {
  position: absolute;
  right: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  top: 0px;
  border-radius: 25px;
  padding: 5px;
  border: none;
  font-size: 1em;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background-color: #738694;
  color: #E1E8ED;
  font-weight: 400;
}

.star:hover {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

.rec-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 15px;
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.rec-card {
  margin: auto;
}

.rec-card a {
  color: #E1E8ED;
  text-decoration: none;
}

.signup-form {
  background: #E1E8ED;
  margin: 20px auto;
  width: 600px;
  padding: 30px;
  border-radius: 15px;
  font-size: 30px;
}

.signup-form .label {
  width: 600px;
  height: 40px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
  font-size: 30px;
}

.signup-form p {
  font-size: 28px;
  line-height: 1.6;
}

.signup-form .checkbox {
  width: 30px;
  height: 30px;
}

.signup-form .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 20px 0px;
}

.signup-form .header {
  margin: auto;
  width: 600px;
}

.signup-form button {
  border-radius: 25px;
  border: none;
  font-size: 1em;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background-color: #738694;
  color: #E1E8ED;
  font-weight: 400;
}

.signup-form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

.signin-form {
  background: #E1E8ED;
  margin: 20px auto;
  width: 600px;
  padding: 30px;
  border-radius: 15px;
  font-size: 30px;
}

.signin-form .label {
  width: 600px;
  height: 40px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
  font-size: 30px;
}

.signin-form p {
  font-size: 28px;
  line-height: 1.6;
}

.signin-form button {
  border-radius: 25px;
  border: none;
  font-size: 1em;
  width: 250px;
  margin: 30px auto 0px;
  cursor: pointer;
  outline: none;
  background-color: #738694;
  color: #E1E8ED;
  font-weight: 400;
}

.signin-form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

button {
  border-radius: 25px;
  border: none;
  font-size: 1em;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background-color: #738694;
  color: #E1E8ED;
  font-weight: 400;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(90deg, #92fe9d, #00c9ff);
}

.towards-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  border-radius: 15px;
  max-width: 1200px;
  margin: 10px auto;
}

.toward-card {
  border-radius: 15px;
  background: #E1E8ED;
  padding: 15px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toward-text {
  padding-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.toward-text h3 {
  font-size: 25px;
}

.profile-card {
  border-radius: 15px;
  background: #E1E8ED;
  padding: 15px;
  margin: 10px auto;
  width: 900px;
}

.profile-card img {
  display: block;
  margin: auto;
}

.profile-card h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.profile-card .tag {
  background: #da7;
  border-radius: 15px;
  margin: 10px;
  padding: 10px 15px;
}

.profile-card .tags {
  text-align: center;
  padding-bottom: 20px;
}

.ways {
  background: #e1e8ed;
  border-radius: 15px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */